.restart-icon {
    width: 80px;
    height: 80px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 20px;
  }
  
  .restart-icon.hidden {
    visibility: hidden;
  }
  
  .restart-icon.visible {
    visibility: visible;
  }